// Navbar & Header

.navbar {
    &.header-navbar {
        background-color: rgba(255, 255, 255, 0.16862745098039217);
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        .nav-link {
            color: $color-white;
            font-size: 1.000em;
            margin-left: 1.3em;
            margin-right: 1.3em;
            padding: 0;

        }
    }
}

.header-section {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../assets/header.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;

    &--overlay {
        @include jumbotron-overlay;
    }

    .header-content {
        padding-top: 9.375em;
        padding-bottom: 9.375em;

        &-logo {
            margin-bottom: 1.25em;
        }

        p {
            color: $color-white;
            margin-bottom: 1.25em;
        }
    }
}


// Second Section - Facebook Updates, Forecast
.info-section {
    
}

// Third Section - Natural Snow
.naturalsnow-section {
    background-image: url('../assets/Natural-Snow.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;

    &--overlay {
        @include jumbotron-overlay;
    }

    h1 {
        color: $color-white;
        font-size: 3.75em;
    }
}


// Fourth Section - Map
.map-section {
    background-color: $color-white;

    h2 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    p {
        color: $color-gray;
    }

    &-image {
        max-width: 100%;

        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &-container {
        padding-bottom: 2.5em;
        margin-bottom: 2.5em;
        border-bottom: 1px solid #f3f3f3;
    }

    &-container.last {
        border-bottom: 0;
    }


}