// Navbar & Header

.navbar {
    &.header-navbar {
        background-color: rgba(0, 0, 0, 0.33);
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        @include for-phone-only {
            background-color: $color-red-light;
        }

        .nav-link {
            color: $color-white;
            font-size: 1.000em;
            margin-left: 1.3em;
            margin-right: 1.3em;
            padding: 0;
            
            @include for-phone-only {
                padding: 0.2em 0;
            }

            @include for-ipad-pro {
                font-size: 15px;
            }

        }

        .dropdown {
            &.menu-language-select {
                @include for-phone-only {
                    margin-left: 1.3em;
                }

                @include for-tablet {
                    margin-left: 1.3em;
                }

                .btn-language {
                    color: $color-white;
                    padding: 0;
                }
            }
        }
    }
}

.header-section {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../assets/header.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 7;
    height: 90vh;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        bottom: -2%;
        width: 100%;
        height: 100px;
        background: url('../assets/bg/curve.svg');
        z-index: 1;
    }

    @include for-phone-only { 
        height: 100vh;
    }

    @include for-ipad-pro {
        height: 70vh;
    }

    &--overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.82);
        opacity: 0.5;
        z-index: 1;
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .header-content {
        // padding-top: 14.375em;
        // padding-bottom: 9.375em;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;

        @include for-phone-only {
            height: 100vh;
        }

        @include for-ipad-pro {
            height: 70vh;
        }

        &-logo {
            margin-bottom: 1.25em;

            @include for-phone-only {
                height: 130px;
            }

            img {
                @include for-phone-only {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        p {
            color: $color-white;
            margin-bottom: 1.25em;

            @include for-tablet {
                font-size: 1.3em;
            }

            @include for-ipad-pro {
                font-size: 1.7em;
            }
        }
    }
}


// Second Section - Facebook Updates, Forecast
.info-section {
    

    iframe {
        @include for-phone-only {
            width: auto;
        }

        @include for-tablet {
            width: auto;
        }
    }

    .facebook-box-large {
        @include for-phone-only {
            display: none;
        }
    }

    .facebook-box-small {
        display: none;
        margin-bottom: 2em;
        
        @include for-phone-only {
            display: block;
        }
    }
}

// Third Section - Natural Snow
.naturalsnow-section {

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        background: url('../assets/bg/wave.svg');
        z-index: 1;
    }

    @include jumbotron-background($backgroundImage: '../assets/natural-snow.jpg');

   

    padding-top: 14.125em;
    padding-bottom: 6.75em;

    @include for-phone-only {
        padding-top: 6.125em;
        padding-bottom: 5.75em;
    }
    
    h1 {
        color: $color-white;
        font-size: 3.75em;

        @include for-phone-only {
            font-size: 2.50em;
        }

        @include for-tablet {
            font-size: 2.75em;
        }
    }
}


// Fourth Section - Map
.map-section {
    background-color: $color-white;

    h2 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    p {
        color: $color-gray;
    }

    &-image {
        max-width: 100%;
        margin-bottom: 2em;
        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &-container {
        padding-bottom: 2.5em;
        margin-bottom: 2.5em;
        border-bottom: 1px solid #f3f3f3;
    }

    &-container.last {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

//Fifth Section - Mountain
.mountain-section {
    @include jumbotron-background($backgroundImage: '../assets/mountain.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}

// Sixth Section - Brochure
.brochure-section {
    &-image {
        max-width: 100%;
        margin-bottom: 2em;

        img {
            width: 100%;
            height: auto;
        }
    }

    &-image-full {
        max-width: 100%;
        margin-bottom: 2em;

        img {
            width: 100%;
            height: auto;
        }
    }

    // .modal-lg {
    //     max-width: 840px;

    //     @include for-phone-only {
    //         width: auto;
    //     }
    // }

    &-table {
        thead, tbody {
            th {
                background-color: $color-red-light;
                border-top: 1px solid $color-red-light;
            }

            td {
                border-top: 1px solid $color-red-light;
            }
        }
    }

    &-table-row {
        margin-top: 3em;
    }

    p {
        color: $color-gray;
    }

    .brochure-image {
        max-width: 100%;
        max-height: 100%;

        img {
            @include for-phone-only {
                width: 100%;
                height: auto;
            }
        }
    }
}

// Seventh Section
.tickets-section {
    @include jumbotron-background($backgroundImage: '../assets/rentals.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}

// Eighth Section
.ticket-details-section {
    h3 {
        background-color: $color-red;
        padding: 10px;
        text-align: center;
        color: $color-white;

        @include for-phone-only {
            margin-bottom: 2em;
        }
    }   

    .ticket-details-info {
        margin-bottom: 2em;
    }

    .tickets-detail {
        margin-top: 1em;
    
        &-list {
            font-size: .75em;
        }
    }
}

// Ninth Section
.schools-section {
    @include jumbotron-background($backgroundImage: '../assets/school.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}

// Tenth Section
.school-details-section {
    .school-carousel {
        &-img {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
            }
        }
    }

    .school-section-btn {
        margin-top: 2em;
    }
}

// Eleventh Section
.packages-section {
    @include jumbotron-background($backgroundImage: '../assets/packages.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}

.packages-details-section {
    .packages-section-image {
        max-width: 100%;
        margin-bottom: 2em;

        img {
            width: 100%;
            height: auto;
        }
    }

    .packages-section-image-full {
        max-width: 100%;
        margin-bottom: 2em;

        img {
            width: 100%;
            height: auto;
        }
    }
}

// Thirteenth Section
.snow-park-section {
    @include jumbotron-background($backgroundImage: '../assets/snow-park.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}

// Fourteenth Section
.snow-park-details {
    &-box {
        background-color: $color-white;
        padding: 25px;
        box-shadow: 2px 4px 12px rgba(35, 35, 35, 0.05);
        margin-bottom: 2em;

        p:last-child {
            margin-bottom: 0;
        }
    }
    
    &-row {
        .card {
            &-body {
                background-color: $color-red;

                h5 {
                    margin-bottom: 0;
                    color: $color-white;
                    text-align: center;
                }
            }
        }
    }
}

//Fifteenth
.facilities-section {
    @include jumbotron-background($backgroundImage: '../assets/snow-park.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}

//Sixteenth
.facilities-images-section {

    @include for-phone-only {
        padding-bottom: 0;
    }

    .facilities-box {
        &-details {
            padding: 30px;
            box-shadow: 2px 4px 12px rgba(35, 35, 35, 0.05);

            p:last-child {
                margin-bottom: 0;
            }
        }
    }

    .facilities-slider {
        .card {
            margin-bottom: 2em;
        }

        .card-img-box {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }

            @include for-phone-only {
                height: auto;
            }
            @include for-tablet {
                height: auto;
            }

        }
    }
}


//Eighteenth
.access-section {
    @include jumbotron-background($backgroundImage: '../assets/snow-park.jpg');

    h2 {
        color: $color-white;
        font-size: 3.75em;
    }
}


//Nineteenth
.location-section {
    h3 {
        margin-bottom: 1em;
    }

    .location-map {
        margin-bottom: 2em;
    }

    .card {
        .card-img-box {
            height: auto;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .card-body {
            margin-top: 1em;
            background-color: $color-red;
            color: $color-black;
            text-align: center;
            
            h5 {
                margin-bottom: 0;
                color: $color-white;
            }

            @include for-phone-only {
                margin-bottom: 2em;
            }
        }

        &.access-btn {
            a {
                text-decoration: none;
            }

            .card-body {
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;

                &:hover {
                    background-color: transparent;
                    border: 1px solid $color-red;
                   

                    h5 {
                        color: $color-red;
                    }
                }
            }

            &:hover {
                a {
                    color: $color-red;
                }
            }
        }
    }
}

// Footer
.footer {
    background: $color-black;
    padding-top: 15em;
    padding-bottom: 5em;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        background: url('../assets/bg/wave.svg');
        z-index: 1;
    }
    
    @include for-phone-only {
        padding-top: 8em;
    }

    @include for-tablet {
        padding-top: 10em;
        padding-bottom: 4em;
    }

    &-content-logo {
        margin-bottom: 2em;

        @include for-phone-only {
            height: 130px;
        }

        img {
            @include for-phone-only {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    p {
        color: $color-white;
    }

    h5 {
        padding-bottom: 6px;
        margin-bottom: 20px;
        color:#ffffff;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
    }

    ul {
        &.social {
            li {
                padding: 3px 0;
    
                a {
                    color: $color-red-light;

                    i {
                        margin-right: 5px;
                        font-size:25px;
                        -webkit-transition: .5s all ease;
                        -moz-transition: .5s all ease;
                        transition: .5s all ease;
                    }
                }
    
                &:hover {
                    a i {
                        font-size:30px;
                        margin-top:-10px;
                    }
                }
            }
        }

        &.quick-links {
            li {
                padding: 3px 0;
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;

                &:hover {
                    padding: 3px 0;
                    margin-left:2px;
                    font-weight:700;
                }

                a i {
                    margin-right: 5px;
                }
            }
        }
    }
}
